/* For use in src/lib/core/theming/_palette.scss */
$kl-brand: (
    50 : #e0f4fb,
    100 : #b3e3f5,
    200 : #80d0ef,
    300 : #4dbde8,
    400 : #26afe3,
    500 : #00a1de,
    600 : #0099da,
    700 : #008fd5,
    800 : #0085d1,
    900 : #0074c8,
    A100 : #f1f8ff,
    A200 : #bee0ff,
    A400 : #8bc7ff,
    A700 : #71bbff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kl-orange: (
    50 : #fceee4,
    100 : #f7d5bd,
    200 : #f1b991,
    300 : #eb9c64,
    400 : #e78743,
    500 : #e37222,
    600 : #e06a1e,
    700 : #dc5f19,
    800 : #d85514,
    900 : #d0420c,
    A100 : #fffcfc,
    A200 : #ffd5c9,
    A400 : #ffae96,
    A700 : #ff9a7c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

