@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}

body {
  background: url(./assets/img/bg3.jpg) 0 0/cover repeat;
}

.main-content.wrapper {
  opacity: .9;
}

.card-header.card-header-icon.card-header-rose .card-icon {
  background: #00a1de !important;
}

.mat-form-remove .mat-form-field-flex  {
  background-color: #fff !important;
  padding: 0 !important;
}

